<h2><%= @user.username %> </h2> has commented on the following posts:

<% @user.posts.each do |post| %>
  <%= link_to post.title, post_path(post) %>
  <p>Changing this code to submit to Learn.co</p>
<% end %>
