<h2><%= @p.title %></h2>
<p>
  Content: <%= @p.content %>
</p>
Comments:
  <% @p.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>
