<h2><%= @post.title %></h2>
<p>
  Content: <%= @post.content %>
</p>
Comments:
  <ul>
  <% @post.comments.each do |comment| %>
    <li><%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %></li>
  <% end %>
  </ul>
