<h1><%= @post.title %></h1>
<p>Content: <%= @post.content %></p>
<br>

<h3>Comments:</h3>
  <% @post.comments.each do |comment| %>
    <hr>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <br><br>
    <%= comment.content %>
    <br><br>
  <% end %>
