<h2><%= @post.title %></h2>
<p>
  Content: <%= @post.content %>
</p>
Comments:
  <% @post.comments.each do |cmmt| %>
    <%= link_to cmmt.user.username, user_path(cmmt.user) %> said
    <%= cmmt.content %>
  <% end %>
